html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/fundoo.jpg);
    background-repeat: round;
    font-family: 'Noto Serif', serif;
}


#sobre {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}

h1 {
    color: black;
}

.icones{
    width: 40%;
    text-align: center;
}



.sobre_mim_text{
   
    font-size: 20px;

}

#sobre{
 margin-bottom: 5%;

}

.alinhado{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}

.proj{
    width: 70%;
    margin-left: 20%;
}

.img-thumbnail{
    width: 80%;
    text-align: center;

}

.contato{
    width: 20%;
   
}

.col-sm{
    text-align: center;
}

.p1{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}







footer {
    background-color: rgb(24, 23, 23);
    padding: 1%;
    font-family: 'Odibee Sans', cursive;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    line-height: 1.5;
}

.titulos{
    color: blanchedalmond;
}