.naoentra{
      margin-top: 5%;
}



body {
    background-image: url(../img/paisagem.png);
    background-repeat: round;
}


#sobre {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}

h1 {
    color: black;
}

.icones{
    width: 40%;
}



.sobre_mim_text{
   
    font-size: 20px;

}

#sobre{
 margin-bottom: 20%;

{


