.naoentra{
      margin-top: 5%;
}





.imagem_eu
{
    width: 40%;
    border-radius: 100px;
    margin-bottom: 50px;
}

.sobre_mim_text{
   
    font-size: 20px;

}

#sobre
{
 margin-bottom: 10%;
  


